<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>official</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>api.poposapp.com</string>
		<key>shortlinkPort</key>
		<string>443</string>
		<key>socketHost</key>
		<string>s.poposapp.com</string>
		<key>port</key>
		<string>6666</string>
		<key>cdn</key>
		<string>beta-popo-cdn.2tianxin.com</string>
		<key>staticHtml</key>
		<string>beta-popo-cdn.2tianxin.com</string>
		<key>oldcdn</key>
		<string>beta-popo-cdn.2tianxin.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/prod</string>
	</dict>
	<key>debug</key>
	<dict>
		<key>scheme</key>
		<string>http</string>
		<key>host</key>
		<string>alpha.2tianxin.com</string>
		<key>shortlinkPort</key>
		<string>80</string>
		<key>socketHost</key>
		<string>tars.alpha.xiaohuxi.cn</string>
		<key>port</key>
		<string>8082</string>
		<key>cdn</key>
		<string>m.2tianxin.com</string>
		<key>staticHtml</key>
		<string>m.2tianxin.com</string>
		<key>oldcdn</key>
		<string>alpha.2tianxin.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/alpha</string>
	</dict>
	<key>test</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>beta.2tianxin.com</string>
		<key>shortlinkPort</key>
		<string>443</string>
		<key>socketHost</key>
		<string>beta.goim.2tianxin.com</string>
		<key>port</key>
		<string>8888</string>
		<key>cdn</key>
		<string>m.2tianxin.com</string>
		<key>staticHtml</key>
		<string>m.2tianxin.com</string>
		<key>oldcdn</key>
		<string>beta.2tianxin.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/beta</string>
	</dict>
	<key>pressuretest</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>api-pre.2tianxin.com</string>
		<key>shortlinkPort</key>
		<string>443</string>
		<key>socketHost</key>
		<string>s-pre.2tianxin.com</string>
		<key>port</key>
		<string>8888</string>
		<key>cdn</key>
		<string>m.2tianxin.com</string>
		<key>staticHtml</key>
		<string>m.2tianxin.com</string>
		<key>oldcdn</key>
		<string>beta.2tianxin.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/beta</string>
	</dict>
	<key>officialoversea</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>api.shuntongtong.com</string>
		<key>shortlinkPort</key>
		<string>443</string>
		<key>socketHost</key>
		<string>s.shuntongtong.com</string>
		<key>port</key>
		<string>6666</string>
		<key>cdn</key>
		<string>m-ucloud.shuntongtong.com</string>
		<key>staticHtml</key>
		<string>m-ucloud.shuntongtong.com</string>
		<key>oldcdn</key>
		<string>m-ucloud.shuntongtong.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/prod</string>
	</dict>
	<key>txcloud</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>beta-tx.2tianxin.com</string>
		<key>shortlinkPort</key>
		<string>443</string>
		<key>socketHost</key>
		<string>beta-tx.goim.2tianxin.com</string>
		<key>port</key>
		<string>8888</string>
		<key>cdn</key>
		<string>m.2tianxin.com</string>
		<key>staticHtml</key>
		<string>m.2tianxin.com</string>
		<key>oldcdn</key>
		<string>beta.2tianxin.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/beta-tx</string>
	</dict>
	<key>txcloudPre</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>beta-tx.2tianxin.com</string>
		<key>shortlinkPort</key>
		<string>443</string>
		<key>socketHost</key>
		<string>beta-tx.goim.2tianxin.com</string>
		<key>port</key>
		<string>8888</string>
		<key>cdn</key>
		<string>m.2tianxin.com</string>
		<key>staticHtml</key>
		<string>m.2tianxin.com</string>
		<key>oldcdn</key>
		<string>beta.2tianxin.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/pre-tx</string>
	</dict>
	<key>txcloudBeta</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>beta-tx.2tianxin.com</string>
		<key>shortlinkPort</key>
		<string>443</string>
		<key>socketHost</key>
		<string>beta-tx.goim.2tianxin.com</string>
		<key>port</key>
		<string>8888</string>
		<key>cdn</key>
		<string>m.2tianxin.com</string>
		<key>staticHtml</key>
		<string>m.2tianxin.com</string>
		<key>oldcdn</key>
		<string>beta.2tianxin.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/beta-tx</string>
	</dict>
	<key>txcloudAudit</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>beta-tx.2tianxin.com</string>
		<key>shortlinkPort</key>
		<string>443</string>
		<key>socketHost</key>
		<string>beta-tx.goim.2tianxin.com</string>
		<key>port</key>
		<string>8888</string>
		<key>cdn</key>
		<string>m.2tianxin.com</string>
		<key>staticHtml</key>
		<string>m.2tianxin.com</string>
		<key>oldcdn</key>
		<string>beta.2tianxin.com</string>
		<key>ossHost</key>
		<string>pub.res.devop.xinyu100.com</string>
		<key>param</key>
		<string>/audit-tx</string>
	</dict>
</dict>
</plist>
