<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>protocol</key>
		<string>IMainTabControllerService</string>
		<key>impl</key>
		<string>IMainTabControllerManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IThemeService</string>
		<key>impl</key>
		<string>ThemeManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IChatService</string>
		<key>impl</key>
		<string>DYChatManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IAssetsService</string>
		<key>extraProtocol</key>
		<string>IAssetsExtraService</string>
		<key>impl</key>
		<string>AssetsExtraManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IZYGNetworkService</string>
		<key>impl</key>
		<string>ZYGNetworkServiceManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IZYGDataCenterService</string>
		<key>impl</key>
		<string>ZYGDataCenter</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IZYGConnectorService</string>
		<key>impl</key>
		<string>ZYGConnectorManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>FeedBackService</string>
		<key>impl</key>
		<string>FeedBackManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>MiHomeService</string>
		<key>impl</key>
		<string>MiHomeManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>DYEggService</string>
		<key>impl</key>
		<string>DYEggManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>RankService</string>
		<key>impl</key>
		<string>RankManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IPlayerService</string>
		<key>impl</key>
		<string>PlayerManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IIMService</string>
		<key>impl</key>
		<string>IMManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>UserService</string>
		<key>impl</key>
		<string>UserManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ShopService</string>
		<key>impl</key>
		<string>ShopManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>VersionService</string>
		<key>impl</key>
		<string>VersionManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IRoomService</string>
		<key>impl</key>
		<string>IRoomManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ILoginService</string>
		<key>impl</key>
		<string>LoginManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IVoiceService</string>
		<key>impl</key>
		<string>IVoiceManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IVoiceExtraService</string>
		<key>impl</key>
		<string>VoiceExtraManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IStaticConfigService</string>
		<key>impl</key>
		<string>DYStaticConfigManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>PlayerIDService</string>
		<key>impl</key>
		<string>PlayerIDManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ICarrierService</string>
		<key>impl</key>
		<string>CarrierManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ISmsService</string>
		<key>impl</key>
		<string>SmsManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>GreetService</string>
		<key>impl</key>
		<string>GreetManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IMusicService</string>
		<key>impl</key>
		<string>MusicManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IHomeService</string>
		<key>impl</key>
		<string>HomeManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ShareService</string>
		<key>impl</key>
		<string>ShareManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>INetworkConfigService</string>
		<key>impl</key>
		<string>NetworkConfigManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IDYOrderService</string>
		<key>impl</key>
		<string>DYOrderManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IOSSService</string>
		<key>impl</key>
		<string>OSSManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IWhaleBubbleService</string>
		<key>impl</key>
		<string>WhaleBubbleManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ILuckyDrawService</string>
		<key>impl</key>
		<string>LuckyDrawManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IBroadcastService</string>
		<key>impl</key>
		<string>BroadcastManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IHomePopService</string>
		<key>impl</key>
		<string>IHomePopManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IRoomFloatingViewService</string>
		<key>impl</key>
		<string>RoomFloatingViewManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IVisitorRecordService</string>
		<key>impl</key>
		<string>IVisitorRecordManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IIntimateService</string>
		<key>impl</key>
		<string>IntimateManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IVisitorService</string>
		<key>impl</key>
		<string>IVisitorManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IIsChargeTodayService</string>
		<key>impl</key>
		<string>IIsChargeTodayManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IDecorateService</string>
		<key>impl</key>
		<string>IDecorateManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ICommunityService</string>
		<key>impl</key>
		<string>CommunityManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ITabListService</string>
		<key>impl</key>
		<string>TabListManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IDynamicConfigurationService</string>
		<key>impl</key>
		<string>DynamicConfigurationManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>AppToolsService</string>
		<key>impl</key>
		<string>AppToolsManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>NobilityService</string>
		<key>impl</key>
		<string>NobilityManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IAntiAddictionService</string>
		<key>impl</key>
		<string>AntiAddictionManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>GameService</string>
		<key>impl</key>
		<string>GameManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IEmojiService</string>
		<key>impl</key>
		<string>IEmojiManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IShowService</string>
		<key>impl</key>
		<string>IShowManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IActivityGameService</string>
		<key>impl</key>
		<string>ActivityGameManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>DYAnnualCeremonyService</string>
		<key>impl</key>
		<string>DYAnnualCeremonyManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IVideoService</string>
		<key>impl</key>
		<string>VideoManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>DYEPlayListService</string>
		<key>impl</key>
		<string>DYEPlayListManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ICPChatService</string>
		<key>impl</key>
		<string>ICPChatManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>DYCommonPendantService</string>
		<key>impl</key>
		<string>DYCommonPendantManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IMentorshipService</string>
		<key>impl</key>
		<string>IMentorshipManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ICouponService</string>
		<key>impl</key>
		<string>ICouponManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IGenerateImageService</string>
		<key>impl</key>
		<string>GenerateImageManger</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>ICopyrightMusicService</string>
		<key>impl</key>
		<string>ICopyrightMusicManager</string>
	</dict>
	<dict>
		<key>protocol</key>
		<string>IDYReqRecordService</string>
		<key>impl</key>
		<string>DYReqRecordManager</string>
	</dict>
</array>
</plist>
